<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Success</title>
        <link rel="stylesheet" href="/milligram.css" />
    </head>
    <div>
       <tbody>
       <tr>
    	  <td><b><span th:text="${message}"/></b><b> successed</b></td>
    	  <!-- <td><span th:text="${username}"/></td> -->
    	  <td><a href="/">Index</a></td>
       </tr>       
       </tbody>
    </div>   
</html>